<ion-header>
  <ion-toolbar class="ios hydrated">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ios title-ios hydrated">Update Customer</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list lines="full" class="ion-no-margin ion-no-padding ios list-ios list-lines-full list-ios-lines-full hydrated">
    <form [formGroup]="updateCustomerForm" (ngSubmit)="updateForm()">
      <ion-item>
        <ion-label position="floating">First Name</ion-label>
        <ion-input formControlName="FirstName" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Last Name</ion-label>
        <ion-input formControlName="LastName" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">City</ion-label>
        <ion-input formControlName="City" type="text" required>
        </ion-input>
      </ion-item>


      <ion-item>
        <ion-label position="floating">Country</ion-label>
        <ion-input formControlName="Country" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">District</ion-label>
        <ion-input formControlName="District" type="text" required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Address</ion-label>
        <ion-input formControlName="Address" type="text" required>
        </ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Update Customer</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>