<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
      <ion-label position="floating">
        Email:
      </ion-label>
      <ion-input type="email" [(ngModel)]="user.email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">
      Password:
    </ion-label>
    <ion-input type="password" [(ngModel)]="user.password"></ion-input>
</ion-item>
<ion-item-divider>
    <ion-button size="large" (click)="onRegister()">Register</ion-button>
    <ion-button size="large" routerLink="/login">Login</ion-button>
</ion-item-divider>
</ion-content>
